# Jekyll build output
_site/
.jekyll-cache/
.sass-cache/

# Bundler / Ruby
vendor/
Gemfile.lock   # Could be optional

# OS junk
.DS_Store
Thumbs.db
desktop.ini

# Editor files
.idea/
.vscode/
*.swp
*.swo

# Local config (if you have any)
*.local.yml