<!-- FOOTER -->
<footer>
  <div class="footer-inner">
    <div class="footer-brand">
      <img src="/assets/logo.jpg" alt="Naija Marxists" />
      <p>A revolutionary socialist organisation rooted in the Nigerian working class. Committed to historical materialism, internationalism, and the struggle for workers' power.</p>
    </div>

    <div class="footer-col">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="/#about">About Us</a></li>
        <li><a href="/#education">Education</a></li>
        <li><a href="/remarx/">ReMarx Series</a></li>
        <li><a href="/subscribe/">Subscribe</a></li>
        <li><a href="/privacy/">Privacy Policy</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>

    <div class="footer-col">
      <h4>Connect</h4>
      <ul class="social-footer-list">
        <li>
          <a href="https://twitter.com/ngnmarxists" target="_blank" rel="noopener">
            {% include social-icons-footer.html type="twitter" %}
            <span>Twitter/X</span>
          </a>
        </li>
        <li>
          <a href="https://instagram.com/ngnmarxists" target="_blank" rel="noopener">
            {% include social-icons-footer.html type="instagram" %}
            <span>Instagram</span>
          </a>
        </li>
        <li>
          <a href="https://facebook.com/ngnmarxists" target="_blank" rel="noopener">
            {% include social-icons-footer.html type="facebook" %}
            <span>Facebook</span>
          </a>
        </li>
        <li>
          <a href="https://ngnmarxists.substack.com/" target="_blank" rel="noopener">
            {% include social-icons-footer.html type="substack" %}
            <span>Substack</span>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; {{ site.time | date: '%Y' }} The Naija Marxists. Workers of all countries, unite.</p>
  </div>
</footer>